!!!5
html
  head
	   meta(charset='utf-8')
     meta(http-equiv='X-UA-Compatible', content='IE=edge')
     meta(name='viewport', content='width=device-width, initial-scale=1')
     title Avada- About Us Page 1
  body
    header
    		.logo img(src='http://theme-fusion.com/avada/wp-content/themes/Avada/images/logo.png')
    		nav
    			a(href="") Home
    			a(href="") Sliders
    			a(href="") Headers
    			a(href="") Pages
    			a(href="") Portfolio
    			a(href="") Blog
    			a(href="") Shop
    			a(href="") Features
    			a(href="") Shortcodes
    			a(href="", role="cart") img(src="")
    			a(href="", role"search) img(src="")
    		section
    			h1 About Us Page 1
    			h5 Home / About Us Page 1 (LOOK INTO THIS LINE...)
    main
    		figure
          img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/01/about_1.jpg")
          video(src="https://www.youtube.com/watch?v=hsEUBLIJvmE")
          img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/01/about_2.jpg")
          img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/01/about_3.jpg")
        article(role='welcome')
          h1 Welcome to Avada
          p
            | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.
        section
            h1 Who Is Avada
            ul
               li Our Company Mission
               li The Avada Philosophy
               li The Avada Promise
               li We Can Deliver On Projects
         section(role='skills')
            h1 Our Crazy Skills
            ul
               li Web Design 90
               li HTML/CSS 95
               li Graphic Design 85
               li WordPress 75
         section(role='team')
            h1 Meet Our Team
               figure
                  img(src="http://theme-fusion.com/avada/wp-content/uploads/2012/08/team1.jpg")
               figcaption
                  header
                     h2 John Doe
                     h3 Developer
                     a(href="http://dribbble.com")
                        img(src="")
                     a(href="http://linkedin.com")
                        img(src="")
                     a(href="http://twitter.com")
                        img(src="")
                     a(href="http://facebook.com")
                        img(src="")
                  main
                     p
                        | Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
               figure
                  img(src="http://theme-fusion.com/avada/wp-content/uploads/2012/08/team2.jpg")
               figcaption
                  header
                     h2 John Doe
                     h3 Developer
                     a(href="http://dribbble.com")
                        img(src="")
                     a(href="http://linkedin.com")
                        img(src="")
                     a(href="http://twitter.com")
                        img(src="")
                     a(href="http://facebook.com")
                        img(src="")
                  main
                     p
                        | Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
               figure
                  img(src="http://theme-fusion.com/avada/wp-content/uploads/2012/08/team3.jpg")
               figcaption
                  header
                     h2 John Doe
                     h3 Developer
                     a(href="http://dribbble.com")
                        img(src="")
                     a(href="http://linkedin.com")
                        img(src="")
                     a(href="http://twitter.com")
                        img(src="")
                     a(href="http://facebook.com")
                        img(src="")
                  main
                     p
                        | Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
        section(role="clients")
            h1 Our Happy Clients
               ul
                  li
                     a(href="")
                        img(src="" alt='Shift')
                  li
                     a(href="")
                        img(src="" alt="Envato")
                  li
                    a(href="")
                        img(src="" alt="Three Leaves")
                  li
                    a(href="")
                        img(src="" alt="Sparrow")
                  li
                    a(href="")
                        img(src="" alt="A.C")
        section(role="email list")
          h1 Join Our Email List!
          form
            label(for='firstname') First name
            input #firstname(type="text")
            label(for="lastname") Last name
            input #lastname (type="text")
            label(for="email") Email
            input #email (type="text")
    footer
      article
        h1 Avada
        p
          | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      section(role="recent posts")
        h3 Recent posts
          ul
            li
              a(href='http://theme-fusion.com/avada/praesent-et-urna-turpis-sadips/') Blog Slideshow Post
            li
              a(href='http://theme-fusion.com/avada/aenean-odio-mauris-consectetur-quis/') Aenean Odio Mauris
            li
              a(href='http://theme-fusion.com/avada/inec-lorem-urna-consequat/') Blog Image Post
            li
              a(href='http://theme-fusion.com/avada/donec-at-mauris-enim-duis-nisi-tellus/') Blog Video Post
            li
              a(href='http://theme-fusion.com/avada/donec-suscipit-dim-ipsum-at-euismod/') Donec Suscipit Dim Euismod
      section(role="tweets")
        h3 Recent tweets
          ul
            li @tringwebdesign very nice, fantastic job! 22 hours ago
            li @hanofthehouse  hey! It should work now, there were issues with the envato API. 5 days ago
      section(role="recent work")
        h3 Recent work
        img(src="")
        img(src="")
        img(src="")
        img(src="")
        img(src="")
        img(src="")


