doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Avada - About Us Page 1 
    meta(name="description" content="avada, wordpres, theme")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/main.css")
  body
    // nav bar
    header
      nav(role="navigation")
        a(href="#")
          img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/02/logo2x.png", alt="logo")
        a(href="#") Home
        a(href="#") Sliders
        a(href="#") Headers
        a(href="#") Pages
        a(href="#") Portfolio
        a(href="#") Blog
        a(href="#") Shop
        a(href="#") Features
        a(href="#") Shortcodes
        a.icon(href="http://theme-fusion.com/avada/cart/") Cart
        a.icon(href="http://theme-fusion.com/avada/search/") Search
      // banner 
      section
        nav(role="navigation")
          h1 About Us Page 1
          a(href="#") Home
          p About Us Page 1
      //media slider
      section(role="main")
        nav.slider
          div.video
            video( src="https://www.youtube.com/watch?v=hsEUBLIJvmE")
          figure
            img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/01/about_1.jpg", alt="Slide One")
          figure
            img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/01/about_2.jpg", alt="Slide Two")
          figure 
            img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/01/about_3.jpg", alt="Slide Three">
      // welcome article
      article(role="main")
        h1 Welcome to Avada
        p. 
          Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.
      // who is avada accordion section
      section(role="main")
        h1 Who is Avada
          button.accordion
            a(href="#") Our Company Mission
            p. 
              Fugiat dapibus, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nons.
          button.accordion
            a(href="#") The Avada Philosophy
            p. 
              Fugiat dapibus, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nons.
          button.accordion
            a(href="#") The Avada Promise
            p. 
              Fugiat dapibus, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nons.
          button.accordion
            a(href="#") We Can Deliver On Projects
            p. 
              Fugiat dapibus, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nons.
      //  skill progress tag section 
      section(role="main")
        h1 Our Crazy Skills
        progress( max='100', value='90')
        progress( max='100', value='95') HTML/CSS 95
        progress( max='100', value='85') Graphic Design 85
        progress( max='100', value='75') WordPress 75
      // employee profile section
      section(role="main")
        h1 Meet Our Team
          figure
            img(src="http://theme-fusion.com/avada/wp-content/uploads/2012/08/team1.jpg" alt="dude_uno")
          figcaption
            p John Doe
            p Developer
            nav(role nav="navigation")
              a(href="#")
              img(src="dribble-icon.jpg", alt="dribble")
              a(href="#")
              img(src="linkedin-icon.jpg", alt="linkedin")
              a(href="#")
              img(src="twitter-icon.jpg", alt="twitter")
              a(href="#")
              img(src="facebook-icon.jpg", alt="facebook")
            p.
              Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos  beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
          figure
            img(src="http://theme-fusion.com/avada/wp-content/uploads/2012/08/team2.jpg" alt="dude_dos")
          figcaption
            p John Doe
            p Developer
            nav(role nav="navigation")
              a(href="#")
              img(src="dribble-icon.jpg", alt="dribble")
              a(href="#")
              img(src="linkedin-icon.jpg", alt="linkedin")
              a(href="#")
              img(src="twitter-icon.jpg", alt="twitter")
              a(href="#")
              img(src="facebook-icon.jpg", alt="facebook")
            p.
              Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos  beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
          figure
            img(src="http://theme-fusion.com/avada/wp-content/uploads/2012/08/team3.jpg" alt="dude_tres")
          figcaption
            p John Doe
            p Developer
            nav(role nav="navigation")
              a(href="#")
              img(src="dribble-icon.jpg", alt="dribble")
              a(href="#")
              img(src="linkedin-icon.jpg", alt="linkedin")
              a(href="#")
              img(src="twitter-icon.jpg", alt="twitter")
              a(href="#")
              img(src="facebook-icon.jpg", alt="facebook")
            p.
              Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos  beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
      //  our clients section 
      section(role="main")
        h1 Our Happy Clients
          nav
            figure
              a(href="#")
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_1.png", alt="1")
            figure
              a(href="#")
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_2.png", alt="2")
            figure
              a(href="#")
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_3.png", alt="3")
            figure
              a(href="#")
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_4.png", alt="4")
            figure
              a(href="#")
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_5.png", alt="5")
            figure
              a(href="#")
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_6.png", alt="6")
      section(role="form")          
        form#contact(role="form")
          fieldset
            legend Talk to actual people!
              label Name
              input(type="text", placeholder="Johnny Carson", required, autofocus> 
              label Email
              input(type="email", placeholder="yourEmail@website.com", required>
              button(type=submit) Hit Us Up!
      // footer
      footer(role="contentinfo")
        aside
          a(href="#")
          img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/02/logo2x.png", alt="Avada-logo")
          p.
            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
        section
          h2 Recent Posts
            nav
              a(href="#") Blog Slideshow Post
              a(href="#") Aenean Odio Mauris
              a(href="#") Blog Image Post
              a(href="#") Blog Video Post
              a(href="#") Donec Suscipit Dim Euismods
        section
          h2 Recent Tweets
            figure
              img(src="twitter-big.jpg", alt="twitter-big")
              a(href="http://twitter.com/tringwebdesign") @tringwebdesign
              p very nice, fantastic job!
              a(href="#")22 hours ago
            figure
              img(src="twitter-big.jpg", alt="twitter-big"
              a(href="http://twitter.com/hanofthehouse") @hanofthehouse
              p hey! It should work now, there were issues with the envato API.
              a(href="#")5 days ago   
        section
          h2 Recent Werks
            nav(role="navigation")
              a(href="#")
              figure
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_1.png", alt="1")
              a(href="#")
              figure
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_2.png", alt="2")
              a(href="#")
              figure
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_3.png", alt="3")
              a(href="#")
              figure
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_4.png", alt="4")
              a(href="#")
              figure
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_5.png", alt="5")
              a(href="#")
              figure   
              img(src="http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_6.png", alt="6")

