!!! 5
html
	head
		meta(charset='utf-8')
		title Avada - About Us Page 1
	body
		.topnav1
			.block1
				p Avada:
			.block1
				nav
					a(href='') Home
					a(href='') Sliders
					a(href='') Pages
					a(href='') Portfolios
					a(href='') Blog
					a(href='') Shop
					a(href='') Features
					a(href='') Shortcodes
		header
			h1 About Us Page 1
		main
			.block2
				.block3
					figure
						img(src='http://theme-fusion.com/avada/wp-content/uploads/2013/01/about_1.jpg', alt='')
				.block3
					article
						h2 Welcome to Avada
							p
								| Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis
								| dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut
								| perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								| laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
								| quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
								| quia vouptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
								| dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
								| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
								| numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat
								| voluptatem.
			section
				h2 Who is Avada
				details
					summary
						h3 Our Company Mission
					p.
					  Fugiat dapibus, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nons.
					summary
						h3 The Avada Philosophy
					p.
						Fugiat dapibus, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nons.
					summary
						h3 The Avada Promise
					p.
						Fugiat dapibus, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nons.
					summary
						h3 We Can Deliver On Projects
							Fugiat dapibus, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nons.
			h2 Our Crazy Skills
			summary
				ul
					li Web Design 90
					li HTML/CSS 95
					li Graphic Design 85
					li WordPress 75
			section
				h2 Meet Our Team
				figure
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2012/08/team1.jpg', alt='')
					h4 John Doe: Developer
					figcaption
						p.
							Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
				figure
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2012/08/team2.jpg', alt='')
					h4 John Doe: Developer
					figcaption
						p.
							Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
				figure
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2012/08/team3.jpg', alt='')
					h4 John Doe: Developer
					figcaption
						p.
							Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
			section
				h2 Our Happy Clients
				figure
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_1.png', alt='')
				figure
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_2.png', alt='')
				figure
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_3.png', alt='')
				figure
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_4.png', alt='')
				figure
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2013/08/client_5.png', alt='')
		form#register
			h3 Get in touch!
				label(for='firstname')
					First name:
				input#firstname(type='text')
				label(for='lastname')
					Last name:
				input#lastname(type='text')
				label(for='email')
					Email:
				input#email(type='email')
				label(for='telephone')
					Telephone:
				input#telephone(type='tel')
				input(type='submit', value='submit')
		footer
			.footer1
				.footer2
					h3 Avada
					p.
						Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
				.footer2
					h4 RECENT POSTS
					nav
						ul
							li
								a(href='') Blog Slideshow Posts
							li
								a(href='') Aenean Odio Mauris
							li
								a(href='') Blog Image Post
							li
								a(href='') Blog Video Post
							li
								a(href='') Donec Suscipit Dim Euismods
				.footer2
					h4 RECENT TWEETS
					ul
						li @tringwebdesign  very nice, fantastic job! 22 hours ago
						li @hanofthehouse  hey! It should work now, there were issues with the envato API. 5 days ago
				.footer2
					h4 RECENT WORKS
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2013/05/blog_tall_31_rev-66x66.jpg', alt='')
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2012/08/port_slide_10-66x66.jpg', alt='')
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2012/07/video_screen2-66x66.jpg', alt='')
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2012/07/port5-66x66.jpg', alt='')
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2012/08/port1-66x66.jpg', alt='')
					img(src='http://theme-fusion.com/avada/wp-content/uploads/2012/07/bla1-66x66.jpg', alt='')
				.footer3
					h6.
						Copyright 2012 - 2014 Avada Theme by Theme Fusion | All Rights Reserved | Powered by WordPress
