doctype
  html
    head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      title html document
      meta(name="viewport" content="width=device-width, initial-scale=1")

      body
        header
          h1 Avada:

          nav
            a(href="#")Home

            a(href="#")Sliders

            a(href="#")Headers

            a(href="#")Pages

            a(href="#")Portfolio

            a(href="#")Blog

            a(href="#")Shop

            a(href="#")Shop

            a(href="#")Features

            a(href="#")Showcodes

        section
          h2 About us Page 1
          h3
            a(href="#" alt="home") Home
            | / About Us Page 1

        section
          h1 Welcome to Avada
          P Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.

        section
          h1 Who is Avada
          ul
            li
              a(href='#') Our Company Mission
            li
              a(href='#') The Avada Philosophy
            li
              a(href='#') The Avada Promise
            li
              a(href='#') We Can Deliver On Projects

        section
          h1 Our Crazy Skills
          ul
            li img(src="#", alt="hey")
            li img(src="#", alt="hey")
            li img(src="#", alt="hey")
            li img(src="#", alt="hey")

        section
          h1 Meet Our Team

          figure
            img(src="#" alt="hey")
            h1 Jose Doe
            h2 Developer
            figcaption Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.

          figure
            img(src="#" alt="Janet")
            h1 Janet Doe
            h2 Developer
            figcaption Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.

          figure
            img(src="#" alt="what")
            h1 Jack Doe
            h2 Developer
            figcaption Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.

        section
          h1 Our Happy Clients


        form
          fieldset
            legend Personal Details
                label First name
                input(name="first-name" type="text" placeholder="First name" required="" autofocus="")

                label Last name
                input(name="last-name" type="text" placeholder="Last name" required="" autofocus="")

                label Date of Birth
                input(name="dob" type="date")

                label Email
                input(name="email" type="email" placeholder="example@domain.com" required="")

                label URL
                input(name="url" type="url" placeholder="example.com")

                label Telephone
                input(name="phone" type="tel" placeholder="Eg. +447000 000000" required="")

                label Shoe Size
                input(name="shoes" type="number" min="5" max="18" step="0.5" value="9")

                label Flying Skill level (1 low - 100 high)
                input(name="skill" type="range" min="1" max="100" value="0")

        section
          h1 Avada :
          p Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...

        section
          h1 RECENT POSTS
          ul
            li
              a(href='#') Blog Slideshow Post
            li
              a(href='#') Aenean Odio Mauris
            li
              a(href='#') Blog Image Post
            li
              a(href='#') Blog Video Post
            li
              a(href='#') Donec Suscipit Dim Euismods
        section
          h1 RECENT TWEETS
        section
          h1 RECENT WORKS
          ul
            li
              a(href='#')
                img(src='#', alt='wee')
                | weee
            li
              a(href='#')
                img(src='#', alt='wee')
                | wee
            li
              a(href='#')
                img(src='#', alt='wee')
                | wee
            li
              a(href='#')
                img(src='#', alt='wee')
                | weeee
        footer
          h3
            | Copyright 2012 - 2014 Avada
            a(href='') Theme by Theme Fusion
            | | All Rights Reserved |
            a(href='') Powered by WordPress









